$main-color: rgb(31, 16, 33);
$secondary-color: rgb(47, 32, 51);
$text-color: rgb(151, 95, 154);
$pure-white: #fff;
$light-white: #ddd;
$grey: #222;
$black: #000;
$text-hover: rgb(154, 95, 126);
